.main_container
  the-menu
  .a_menu_2__page.a_px_3
    the-navbar
    router-view(
      v-slot="{ Component, route }"
    )
      transition(
        name="fade"
      )
        component(
          :is="Component"
          :key="route.path"
        )
